html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    font-family: 'Rokkitt',serif;
}

/* navbar */
.navbar{
    padding: 1% 0;
    opacity: .8;
} 

.navbar-brand{
font-size: 35px;
}

#myNavbar a {
    font-size: 25px;
}

/* welcome image/text */

#welcome-image{
    background: url(../images/deep_space.PNG) no-repeat center center fixed;
    display: table; position: relative; height: 100%;  width: 100%;  background-size: cover;
}

.welcome-text{
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color:  #d665f8;
    font-family: 'Orbitron', sans-serif;
}


.welcome-text img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.my-information {
    padding: 45px 40px 45px 40px;
    color: rgb(194, 194, 194);
}

.my-information p {
    font-size: 20px;
}

.my-information h3{
    font-size: 30px;
    font-weight: bold;
    color: rgb(233, 233, 233);
}

/* about */
#about img{
    width: 50%;
    height: 50%;
}


/*  scroll pic */
#scroll-pic{
    background: url(../images/space_art.PNG) no-repeat 0px 20px fixed;
    display: table; position: relative; height: 10%;  width: 100%;  background-size: cover;
    padding: 100px;
}


/* skills */
#skills h2 {
    font-size: 5em;
}

/* projects */
#projects-instructions{
    color: aquamarine;
}

/* footer */
footer{
    color: rgb(194, 194, 194);
    padding: 30px;
    background-color: #222;
    opacity: .8;
}

footer h3 {
   font-size: 35px;
}

footer p {
    font-size: 25px;
}


/* connect-icons */
.connect-icons a{
    padding: 2px 4px 2px 4px;
}

